In [1]:
import numpy as np
import pandas as pd
ds=pd.read_csv("Customers-200.csv")
print("***********************************************************************************")
print(ds)
print("***********************************************************************************")
print(ds.head)
print("***********************************************************************************")
print(ds.shape)
print("***********************************************************************************")
print(ds.dtypes)
print("***********************************************************************************")
print(ds.isnull().sum())
print("***********************************************************************************")
print(ds.info())
print("***********************************************************************************")
print(ds['Customer id'].describe())
print("***********************************************************************************")
count_Male=len(ds['sex'][ds['sex']=='Male'])
count_Female=len(ds['sex'][ds['sex']=='Female'])
print("In the dataset, we have %d 'Males' and %d 'Females'"%(count_Male,count_Female))
print("***********************************************************************************")
print(ds.describe(include=['object','bool']))
print("***********************************************************************************")

***********************************************************************************
         Customer id  total_bill   tip     sex smoker   day    time  size  \
0    88F7B33d2bcf9f5       16.99  1.01  Female     No   Sun  Dinner     2
1    f90cD3E76f1A9b9       10.34  1.66    Male     No   Sun  Dinner     3
2    DbeAb8CcdfeFC2c       21.01  3.50    Male     No   Sun  Dinner     3
3    A31Bee3c201ef58       23.68  3.31    Male     No   Sun  Dinner     2
4    1bA7A3dc874da3c       24.59  3.61  Female     No   Sun  Dinner     4
..               ...         ...   ...     ...    ...   ...     ...   ...
194  eEb8321d0D36B9d       16.58  4.00    Male    Yes  Thur   Lunch     2
195  F27ed8f681da5d9        7.56  1.44    Male     No  Thur   Lunch     2
196  fF1E63fbf5e8fBF       10.34  2.00    Male    Yes  Thur   Lunch     2
197  dC6B2D49f4e9a36       43.11  5.00  Female    Yes  Thur   Lunch     4
198  0c70A677de78D7d       13.00  2.00  Female    Yes  Thur   Lunch     2

              Phone number
0       (971)643-6089x9160
1    +1-114-355-1841x78347
2               9017807728
3    +1-607-333-9911x59088
4               3739847538
..                     ...
194           586-855-7116
195             6365503941
196             6469207288
197     (257)125-0074x2167
198    (709)271-0698x65625

[199 rows x 9 columns]
***********************************************************************************
<bound method NDFrame.head of          Customer id  total_bill   tip     sex smoker   day    time  size  \
0    88F7B33d2bcf9f5       16.99  1.01  Female     No   Sun  Dinner     2
1    f90cD3E76f1A9b9       10.34  1.66    Male     No   Sun  Dinner     3
2    DbeAb8CcdfeFC2c       21.01  3.50    Male     No   Sun  Dinner     3
3    A31Bee3c201ef58       23.68  3.31    Male     No   Sun  Dinner     2
4    1bA7A3dc874da3c       24.59  3.61  Female     No   Sun  Dinner     4
..               ...         ...   ...     ...    ...   ...     ...   ...
194  eEb8321d0D36B9d       16.58  4.00    Male    Yes  Thur   Lunch     2
195  F27ed8f681da5d9        7.56  1.44    Male     No  Thur   Lunch     2
196  fF1E63fbf5e8fBF       10.34  2.00    Male    Yes  Thur   Lunch     2
197  dC6B2D49f4e9a36       43.11  5.00  Female    Yes  Thur   Lunch     4
198  0c70A677de78D7d       13.00  2.00  Female    Yes  Thur   Lunch     2

              Phone number
0       (971)643-6089x9160
1    +1-114-355-1841x78347
2               9017807728
3    +1-607-333-9911x59088
4               3739847538
..                     ...
194           586-855-7116
195             6365503941
196             6469207288
197     (257)125-0074x2167
198    (709)271-0698x65625

[199 rows x 9 columns]>
***********************************************************************************
(199, 9)
***********************************************************************************
Customer id      object
total_bill      float64
tip             float64
sex              object
smoker           object
day              object
time             object
size              int64
Phone number     object
dtype: object
***********************************************************************************
Customer id     0
total_bill      0
tip             0
sex             0
smoker          0
day             0
time            0
size            0
Phone number    0
dtype: int64
***********************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer id   199 non-null    object
 1   total_bill    199 non-null    float64
 2   tip           199 non-null    float64
 3   sex           199 non-null    object
 4   smoker        199 non-null    object
 5   day           199 non-null    object
 6   time          199 non-null    object
 7   size          199 non-null    int64
 8   Phone number  199 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 14.1+ KB
None
***********************************************************************************
count                 199
unique                199
top       88F7B33d2bcf9f5
freq                    1
Name: Customer id, dtype: object
***********************************************************************************
In the dataset, we have 129 'Males' and 70 'Females'
***********************************************************************************
            Customer id   sex smoker  day    time        Phone number
count               199   199    199  199     199                 199
unique              199     2      2    4       2                 199
top     88F7B33d2bcf9f5  Male     No  Sun  Dinner  (971)643-6089x9160
freq                  1   129    140   76     145                   1
***********************************************************************************